.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.todos {
    list-style: none;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1rem;
}

.todo {
    border-bottom: 1px solid red;
}
.todo:nth-child(odd) {
    background: #ddd;
}

.todo .desc, .todo input {
    width: 90%;
}

.done {
    display: inline-block;
}

.desc {
    display: inline-block;
}